# Byte-compiled files
__pycache__/
*.py[cod]

# Distribution / packaging
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
*.egg-info/
dist/
build/

# IDEs
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Logs
*.log

# Temporary files
*.tmp
*.temp
*.bak
*.swp
*.swo

# Other
*.DS_Store
*.db
*.sqlite3
*.egg
*.egg-info
*.pyo
*.pyd

# Ignore config files
clip_creator_config.json
box_creator_config.json
